*{
  padding: 0;
  margin: 0;
  font-family: "Special Elite", system-ui;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: white
}

body{
  background-color: #5685A8 
}

h1 {
  font-size: 4 rem;
  margin-bottom: 1 rem;
  letter-spacing: 0.5 rem;
}

h2 {
  padding-bottom: 2.5 rem;
  letter-spacing: 0.1 rem;
  font-size: 2.25 rem;
}

h3 {
  font-size: 1.4 rem;
  letter-spacing: 0.25 rem;
}

h4 {
  font-size: large;
}

p {
  padding-bottom: 0.75 rem;
  line-height: 1.5;
  letter-spacing: 0.07 rem;
}

.header {
  position: fixed;
  display: flex;
  right: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 5 px solid #00A4FF;
  width: 375 px;
}

.article {
  background-color: #7DD4FF;
  border-radius: 18 px;
  color: #1f1f1f
}

.article img {
  border-radius: 18 px
}

.home {
  border-bottom: 5 px solid #00A4FF;
}

.hometext {
  background-color: #5685A8
}

.backgroundimg {
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
}

