*{
  padding: 0;
  margin: 0;
  font-family: "Special Elite", system-ui;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: white
}

body{
  background-color: #394B55 
}

h1 {
  font-size: 4 rem;
  margin-bottom: 1 rem;
  letter-spacing: 0.5 rem;
}

h2 {
  padding-bottom: 2.5 rem;
  letter-spacing: 0.1 rem;
  font-size: 2.25 rem;
}

h3 {
  font-size: 1.4 rem;
  letter-spacing: 0.25 rem;
}

h4 {
  font-size: large;
}

p {
  padding-bottom: 0.75 rem;
  line-height: 1.5;
  letter-spacing: 0.07 rem;
}

.header {
  position: fixed;
  display: flex;
  right: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 5 px solid #00A4FF;
  width: 375 px;
}

.article {
  background-color: #7DD4FF;
  border-radius: 18 px;
  color: #1f1f1f
}

.article img {
  border-radius: 18 px
}

.home {
  border-bottom: 5 px solid #00A4FF;
}

.hometext {
  background-color: #5685A8
}

.backgroundimg {
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
}

.logo {
  border-radius: 0px;
}

.product {
  width: 100%;
  padding: 7 rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#productImagedcft {
  background-image: url(../img/D.C.F.T.png);
}

/* Hero Stlyes */

#heroImage {
  background-image: url(../img/PICNIC.png);
}

.CTA {
  padding: 0.5rem 1rem;
  background-color: #5685A8;
  font-weight: 900;
  transition: 0.2s ease;
  color: #fff;
}

.CTA :hover{
  color: #5685A8;
  background-color: #ffffff;
}

.heroContainer {
  color: #ffffff;
  padding: 3rem 0;
  margin-bottom: 3rem;
  border-radius: .2rem;
}

.heroContainer h2 {
  font-size: 2rem;
  color: #ffffff;
  background-color: #5685A8;
  padding: 0.5rem 1rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.backgroundImage {
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
}

.hero {
  width: 100%;
  padding: 15rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heroBrand {
  width: 100%;
  max-width: 400px;
  margin-bottom: 1rem;
}